<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bar Pepe</string>
		<key>latitude</key>
		<real>40.412541</real>
		<key>longitude</key>
		<real>-3.700544</real>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Bar Paco</string>
		<key>latitude</key>
		<real>40.411626</real>
		<key>longitude</key>
		<real>-3.700544</real>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Elderbar</string>
		<key>latitude</key>
		<real>40.411718</real>
		<key>longitude</key>
		<real>-3.69002</real>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Neila</string>
		<key>latitude</key>
		<real>40.3417</real>
		<key>longitude</key>
		<real>-3.6900003</real>
		<key>type</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
